body {
    font-family: var(--font-family, 'Roboto', sans-serif);
    background-color: var(--background-color, #ffffff);
}

.header-container {
    background-color: #4A628A;

    .row {
        text-align: center;
        display: flex;

        .logo {
            display: flex;
            width: 100px;
            height: auto;
            padding-top: 0px;
            margin-left: 50px;
        }

        .searchbar {
            justify-content: center;
            padding-bottom: 10px;
            padding-top: 10px;
            max-width: 100%;
            width: 80%;
            margin: auto 20px 20px 0px;

            input {
                border: 1.5px solid #7AB2D3;
                border-radius: 10px;
                padding: 10px;
                max-height: 100%;
                width: 80%;
                margin: auto;
            }
        }
    }
}

.nav-bar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 0px;
    width: 100%;
    margin: auto;

    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 10px 100px;
        margin: 0;
        display: inline-block;
        background-color: white;
        opacity: 0.9;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    }

    li {
        list-style: none;
        display: inline-block;
        margin: 0;
    }
}

.components{
    display: flex;
    background-color: aqua;
    height: fit-content;

    .current-weather-component {
        margin-top: 10px;
        display: flex;
        justify-content: left;
        align-items: left;
        padding: 10px;
        padding-top: 10px;
        width: 20%;
        margin: left;
        height: 50%;
        margin-left: 10px;
        background-color: yellowgreen;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
        .fist-part{
        height: 20%;
        width: 100%;
        padding-bottom:0px;
        }
        h1 {
            font-size: 19px;
            background-color: #4A628A;
            margin: 0;
            text-align: center;
            height: 40%;
            width: 100%;
            color: white;
            border-radius: 10px;
    
    
        }
        p{
            font-size: 15px;
            margin: 0;
            text-align: left;
            width: 100%;
        }
    
    }

.weather-map-component{
        background-color: blue;
        margin-top: 10px;
        display: flex;
        justify-content: left;
        align-items: left;
        padding: 10px;
        padding-top: 10px;
        width: 58%;
        margin: left;
        margin-left: 10px;
        height: 100%;
        margin-left: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
        .inside-view{
        height: 20%;
        width: 100%;
        padding-bottom:0px;
         img{
            height: 100%;
            width: 100%;
         
        }
        }
        h1 {
            font-size: 19px;
            background-color: #4A628A;
            margin: 0;
            text-align: center;
            height: 40%;
            width: 100%;
            color: white;
            border-radius: 10px;
    
    
        }
        p{
            font-size: 15px;
            margin: 0;
            text-align: left;
            width: 100%;
        }
    }

    .related-news-component{
        display: grid;
        background-color: yellowgreen;
        margin-left:10px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        .inside-data{
            background-color: red;
            display: grid;
            
            .news{
                background-color: yellow;
            }
        }

    }

}

.astronomy-container {
    padding-top: 10px;
    background-color: aquamarine;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: semi-bold;
    font-size: 20px;

        .slideshow {
            background-color: blueviolet;
            display: flex;
            width: 100%;
            padding: 5px;
            height: 60%;
            padding-left: 0px;
            padding-right: 0px;
            overflow: hidden;

            .slide {
                background-color: pink;
                margin: 5px;
                width: 20%;
                height: 100%;

                img {
                    width: 200px;
                    height: 150px;
                    
                }
            }
        }
}



.footer{
    background-color: #4A628A;
    color: white;
    text-align: center;
    margin: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden; 
}