<!--THIS COMPONENT WILL BE ABLE TO
    1. SEARCH FOR A LOCATION
    2. DISPLAY WEATHER DATA FOR THAT LOCATION
-->

<div class="header-container">
  <div class="row">
    <img src="./assets/photos/moonWind.png" alt="Weather App Logo" class="logo">
    <div class="col-12 searchbar">
      <input type="text" [(ngModel)]="location" placeholder="Search for a location">
    </div>
  </div>
  
  <!-- Navbar  -->
  <div class="nav-bar-menu">
    <div class="col-12">
      <nav class="navbar">
        <ul>
          <li><a href="#" (click)="search()">Today</a></li>
          <li><a href="#" (click)="search()">Weekly</a></li>
          <li><a href="#" (click)="search()">Monthly</a></li>
          <li><a href="#" (click)="search()">Yearly</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
  <!-- Todays Current Weather Data Section -->
  <div class="current-weather-component">
    <div class="fist-part">
      <h1>Todays Weather</h1>
      <p>Date: 21 Janary</p> 
      <p>Time: 12:00 PM</p>
      <hr>
      <!-- Getting Date Api next -->
    </div>
    <div class="col-12 weather-current" *ngIf="currentWeather">
      <h2>Current Weather for {{ currentWeather.location }}</h2>
      <p>Temperature: {{ currentWeather.temp }} °C</p>
      <p>Humidity: {{ currentWeather.humidity }} %</p>
      <p>Condition: {{ currentWeather.condition }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 weather-forecast" *ngIf="weeklyForecast && weeklyForecast.length">
      <h3>Weekly Forecast</h3>
      <div class="forecast-day" *ngFor="let day of weeklyForecast">
        <p>{{ day.date }}: {{ day.temp }} °C, {{ day.condition }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 weather-graph" *ngIf="showGraph">
      <h3>Temperature Trend</h3>
      <!-- <app-weather-graph [data]="temperatureData"></app-weather-graph> -->
    </div>
  </div>

  <!--Footer-->
  <div class="footer">
    <p>Weather App &copy; 2021</p>



<!-- <input type="text" placeholder="Search for a location" [(ngModel)]="location" (keyup.enter)="search()">
<button (click)="search()">Search</button> -->